NODE_ENV = "development" | "production"
MONGODB_URI=

SERVER_URI = 

SALT_ROUNDS = 

# KINDE CONFIG
CLIENT_ID=
ISSUER_BASE_URL=
SITE_URL=
SECRET=
REDIRECT_URL=
SCOPE=
GRANT_TYPE=
UNAUTHORISED_URL=
POST_LOGOUT_REDIRECT_URL=